@import url("https://fonts.googleapis.com/css?family=Sarpanch:900");
.App {
  text-align: center;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-content: center;
  border: 0;
  border-radius: 0;
  background: linear-gradient(to right, #ff5858, #f857a6);
}
.nav-text {
  grid-area: text;
  font-family: "Sarpanch", sans-serif;
  font-size: 70px;
  margin: 0 auto;
  padding: 30px;
  color: black;
  text-shadow: 1vmin 1vmin 0 #e79c10, -1vmin -1vmin 0 #cd5c5c;
  text-align: center;
  padding-top: 20px;
  /* transform: skew(#{$rotationAmt}deg) rotate(#{$rotationAmt}deg); */
}

.github-re-size {
  padding-right: 20px;
  height: 60px;
}

.marrginIssuesList {
  padding: 20px;
  margin-top: 50px;
}
.marrginIssuesList:hover {
  border-radius: 50px;
  background-color: #dbdacc;
}
.styleImgIssuesList {
  border-radius: 20px;
  transition: transform 0.7s ease-in-out;
}
.styleImgIssuesList:hover {
  transform: rotate(360deg);
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.logo-re-size {
  width: 200px;

  height: 50px;
  border: solid black;
  background-color: white;
  border-radius: 30px;
}
.form-search {
  padding-top: 10px;
  width: 200%;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-content: center;
  border: 0;
  border-radius: 0;
  background: linear-gradient(to right, #ff5858, #f857a6);
}

/*
  Issue Modal style
*/
.modal-title {
  background-color: #bdc3c7;
}

.issue-content {
  overflow-x: scroll;
  border: 2px solid green;
  border-radius: 10px;
  padding: 15px 20px;
  background-color: peachpuff;
}

.horizontal-line {
  border: 1px solid black;
}

.comment {
  border: 1px solid #b8b8b8;
  border-radius: 10px;
  overflow-x: scroll;
}

.comment-header {
  padding: 5px;
  padding-top: 10px;
  padding-left: 10px;
}

.comment-user-name {
  font-weight: bolder;
  color: #34495e;
  font-size: 1.25rem;
}

.modal-avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.comment-content {
  background-color: #f2f2f2;
  padding: 10px;
}
