@import url("https://fonts.googleapis.com/css?family=Sarpanch:900");

.nav-text {
  transform: skew(#{$rotationAmt}deg) rotate(#{$rotationAmt}deg);
  grid-area: text;
  font-family: "Sarpanch", sans-serif;
  font-size: 50px;
  margin: 0 auto;
  padding: 30px;
  color: black;
  text-shadow: 1vmin 1vmin 0 #e79c10, -1vmin -1vmin 0 #cd5c5c;
}

.nav-text {
  padding-top: 20px;
  text-align: center;
}
.github-re-size {
  padding-right: 20px;
  height: 60px;
}
.logo-re-size {
  width: 130px;
  height: 50px;
  border: solid black;
  background-color: white;
  border-radius: 30px;
}
.form-search {
  padding-top: 10px;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-content: center;
  border: 0;
  border-radius: 0;
  background: linear-gradient(to right, #ff5858, #f857a6);
}
